.main__features {
  margin-bottom: 60px;
  margin-top: 60px;
}

.features__ul {
  gap: 22px;
  display: flex;
  flex-direction: column;
}

.features__div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features__svg {
  height: 70px;
  width: 70px;
}

.features__h3 {
  text-align: center;
  width: 100%;
  color: $color-212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__p {
  color: $color-757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

@media (min-width: 480px) {
  .main__features {
    display: flex;
    justify-content: center;
  }
  .features__li {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .features__p {
    text-align: left;
  }
  .features__div {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .features__ul {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .features__li {
    flex-basis: calc((100% - 15px * 3) / 2);
    width: 354px;

  }
  .features__h3 {
    text-align: left;
  }
  .features__div {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .main__features {
    margin-top: 94px;
    margin-bottom: 94px;
  }
  .features__ul {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .features__li {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .features__div {
    width: 270px;
  }
}
