.features__ul {
  display: flex;
  gap: 30px;
}

.features__li svg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 100px;
}

.features__h3 {
  color: $color-212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__p {
  color: $color-757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

@media (min-width: 380px) {
  .main__features{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .features__ul {
    flex-direction: column;
  }
  .features__li {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .features__li svg {
    width: 100%;
  }
  .features__p {
    text-align: left;
  }
}

@media (min-width: 480px) {
  .features__li svg {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .main__features{
    margin-top: 94px;
    margin-bottom: 94px;
  }
  .features__ul {
    flex-direction: row;
  }
  .features__li {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .features__li svg {
    width: 270px;
  }
}
