.header {
  @extend %flex-all-settings;
  border-bottom: 1px solid $color-ececec;
  height: 80px;
}

.header-items {
  display: flex;
  align-items: center;
  height: 80px;
  column-gap: 50px;
}

.header-logo {
  color: $color-000;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-logo-span {
  color: $color-2196f3;
}

.active_header {
  position: relative;
  height: 80px;
}

.active_header-portfolio::after {
  content: "";
  @extend %flex;
  position: absolute;
  bottom: 0;
  right: -4px;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background: $color-2196f3;
  margin-top: 28px;
}

.active_header-studio::after {
  content: "";
  @extend %flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 48px;
  height: 4px;
  left: -1px;
  border-radius: 2px;
  background: $color-2196f3;
  margin-top: 28px;
}

.header-logo-span {
  color: $color-2196f3;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav {
  margin-left: 93px;
  margin-right: 300px;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
}
.nav-item-a {
  color: $color-212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;

  &:hover {
    color: $color-2196f3;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: bounceHover;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover svg {
    fill: $color-2196f3;
  }
}

.header-item-a {
  color: $color-757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;

  &:hover {
    color: $color-2196f3;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: bounceHover;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover svg {
    fill: $color-2196f3;
  }
}
.header-item-svg {
  fill: $color-757575;
  margin-right: 5px;
}

.header-modal-btn-header {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

// modal-header

// media-requests

@media (min-width: 320px) {
  .header {
    min-width: 320px;
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .header-items {
    display: none;
  }
  .header-modal-div {
    display: flex;
  }
}
@media (min-width: 480px) {
  .header {
    width: 480px;
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .header-items {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header{
    min-width: 1200px;
  }
  .nav {
    display: flex;
  }
  .header-items {
    display: flex;
  }
  .header-modal-div {
    display: none;
  }
}
