.header-portfolio {
  margin-bottom: 94px;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header>ul {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.active_header {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}

.active_header-portfolio::after {
  content: "";
  position: absolute;
  display: flex;
  bottom: 0;
  right: -4px;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  margin-top: 28px;
}

.active_header-studio::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 48px;
  height: 4px;
  left: -1px;
  border-radius: 2px;
  background: #2196f3;
  margin-top: 28px;
}

.header-logo-span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav-list {
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-item-a {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav-item-a:hover {
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-name: bounceHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.header-items {
  margin-left: 344px;
}

.header-item:hover svg {
  fill: #2196f3;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item-a {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-item:not(:first-child) {
  margin-left: 50px;
}

.header-item-a:hover {
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-name: bounceHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.header-item-svg {
  margin-right: 5px;
  fill: rgba(117, 117, 117, 1);
}