.header {
  @extend %flex-all-settings;
  height: 80px;
  justify-content: space-between;
}

.header-logo {
  color: $color-000;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header-logo-span {
  color: $color-2196f3;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header-modal-btn-header {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.nav {
  display: none;
}

.header-items {
  display: none;
}

// modal-header

// media-requests

@media (min-width: 480px) and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .header-modal-div {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .header-items {
    display: flex;
    align-items: center;
    height: 80px;
    column-gap: 50px;
  }

  .active_header {
    position: relative;
    height: 80px;
  }
  .active_header-portfolio::after {
    content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    right: -4px;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background: $color-2196f3;
    margin-top: 28px;
  }

  .active_header-studio::after {
    content: "";
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    width: 48px;
    height: 4px;
    left: -1px;
    border-radius: 2px;
    background: $color-2196f3;
    margin-top: 28px;
  }
  .nav {
    display: flex;
  }
  .header-modal-div {
    display: none;
  }
  .nav {
    margin-left: 93px;
    margin-right: 300px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }
  .nav-item-a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: $color-212121;

    &:hover {
      color: $color-2196f3;
      animation-fill-mode: forwards;
      animation-duration: 250ms;
      animation-name: bounceHover;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover svg {
      fill: $color-2196f3;
    }
  }

  .header-item-a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: $color-757575;

    &:hover {
      color: $color-2196f3;
      animation-fill-mode: forwards;
      animation-duration: 250ms;
      animation-name: bounceHover;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover svg {
      fill: $color-2196f3;
    }
  }
  .header-item-svg {
    fill: $color-757575;
    margin-right: 5px;
  }
}
