.main-section {
  @extend %flex-all-settings;
  flex-direction: column;
  color: $color-fff;
  background: $color-2f303a;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(img/hero.png),
    lightgray 0px -147.517px / 100% 170.667% no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  height: 400px;
}

.main-section-h1 {
  color: $color-ececec;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-section-button {
  color: $color-fff;
  border: none;
  height: 50px;
  border-radius: 4px;
  background: $color-2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
}

/* <налаштування модалки> */
.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  border-radius: 4px;
  background: $color-fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);
  padding-top: 40px;
}

.modal-h2 {
  color: $color-212121;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.btn {
  @extend %flex-all-settings;
  cursor: pointer;
  background-color: $color-fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;

  &:hover svg {
    fill: rgba(33, 150, 243, 1);
  }

  &:hover {
    animation-name: buttonClose;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  row-gap: 10px;
}

.modal-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-757575;
  row-gap: 4px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  position: relative;
  border: none;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:focus-within {
    outline: none;
    animation-name: focusModal;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid $color-2196f3;
  }

  &:focus-within + .svg-input {
    fill: rgba(33, 150, 243, 1);
  }
}
.svg-input {
  bottom: 11px;
  left: 12px;
  position: absolute;
}

.textarea-modal-div {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:focus-within {
    animation-name: focusModal;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.textarea-modal {
  height: 96px;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}

.modal-label-a {
  display: flex;
  flex-direction: row;
  color: $color-757575;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.4;
  letter-spacing: 0.42px;
}

.modal-a {
  color: $color-2196f3;
  margin-left: 5px;
  text-decoration: underline;
}

.modal-checkbox {
  cursor: pointer;
  margin-top: 8px;
  width: 16px;
  height: 15px;
  line-height: 2.4;
  border: none;
  margin-right: 5px;
}

.button-modal {
  color: $color-fff;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #188ce8;
  cursor: pointer;

  &:hover {
    animation-name: hoverModal;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .main-section-h1 {
    font-size: 26px;
    letter-spacing: 1.56px;
    line-height: 1.6;
    width: 360px;
  }
  .main-section {
    width: 480px;
  }
  .main-section-button {
    width: 200px;
  }
  .modal {
    height: 610px;
    width: 446px;
  }
  .modal-h2 {
    text-align: center;
    line-height: 1.5;
  }
  .modal-label {
    width: 370px;
  }
  .modal-input {
    width: 370px;
  }
  .textarea-modal-div {
    width: 370px;
    height: 120px;
  }
  .textarea-modal {
    width: 338px;
    height: 96px;
  }
  .modal-label-a{
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .main-section {
    width: 1200px;
    height: 600px;
  }
  .main-section-h1 {
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: normal;
    width: 696px;
  }
  .main-section-button {
    width: 216px;
  }
  .modal-h2 {
    line-height: normal;
  }
  .modal-input {
    width: 450px;
  }
  .modal-label{
    width: 450px;
  }
  .modal {
    width: 528px;
    height: 581px;
  }
  .textarea-modal-div {
    width: 448px;
    height: 120px;
  }
  .textarea-modal {
    width: 416px;
    height: 96px;
  }
  .modal-label-a{
    width: 450px;
  }
}
