.main-our-team {
  padding-bottom: 94px;
  padding-top: 94px;
  width: auto;
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.main-our-team-h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.social-team {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 16px;
  column-gap: 10px;
}

.team-item-svg {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
}

.social-item-team {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.social-item-team:hover {
  animation-name: changeHeaderScaleHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 250ms;
  background-color: #2196f3;
}

.social-item-team:hover svg {
  animation-name: changeHeaderScaleHover;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgba(255, 255, 255, 1);
}

.our-team-ul-li-h3 {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.our-team-ul-li-p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.our-team-ul-li {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin-bottom: 94px;
}

.social-item-link {
  width: auto;
}