.main-regular-customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.regular-customers-h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.regular-customers-list {
  column-gap: 30px;
  display: flex;
  justify-content: center;
}

.regular-customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  &:hover svg {
    fill: rgba(33, 150, 243, 1);
  }

  &:hover {
    animation-name: rotateRegularCustomers;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: 1px solid #2196f3;
    cursor: pointer;
  }
}
.regular-customers-svg {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
}
