/* <Скидальні та глобальні налаштування стилів> */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0px;
  padding: 0px;
}

ul,
menu {
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* </Скидальні та глобальні налаштування стилів> */

/* <налаштування header> */

.header-portfolio {
  margin-bottom: 94px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-logo-span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-left: 93px;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-item-a {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav-item-a:hover {
  color: #2196f3;
}

.header-items {
  margin-left: 344px;
}

.header-item-a {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-item:not(:first-child) {
  margin-left: 50px;
}

.header-item-a:hover {
  color: #2196f3;
}

/* </налаштування header> */

/* <налаштування main portfolio> */

.main-section2 {
  margin-bottom: 94px;
}

.main-section-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
  column-gap: 8px;
}

.local-button-settings-b1 {
  width: 73px;
  height: 38px;
}

.local-button-settings-b2 {
  width: 125px;
  height: 38px;
  flex-shrink: 0;
}

.local-button-settings-b3 {
  width: 112px;
  height: 38px;
  flex-shrink: 0;
}

.local-button-settings-b4 {
  width: 103px;
  height: 38px;
  flex-shrink: 0;
}

.local-button-settings-b5 {
  width: 130px;
  height: 38px;
  flex-shrink: 0;
}

.global-button-settings {
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: 0px;
  flex-basis: calc((100% - 6 * 8px) / 5);
}

.global-button-settings:hover {
  background: #2196f3;
  color: #fff;
}

.second-list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

.second-list-item:hover {
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.second-list-item {
  background-color: #fff;
  text-align: center;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.second-list-item-h3 {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  /* width: 322px; */
}

.second-list-item-p {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
  /* width: 322px; */
}

/* </налаштування main portfolio> */

/* <налаштування main> */

/* <налаштування першої section> */
.main-section {
  background: #2f303a;
  background: url(img/hero.jpg), linear-gradient(#2F303A66, #2F303A66),
    lightgray 0px -147.517px / 100% 170.667% no-repeat ;
  width: 1600px;
  height: 600px;
  padding: 0px 15px;
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-section-h1 {
  height: 120px;
  color: #fff;
  width: 697px;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-section-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
/* </налаштування першої section> */

/* <налаштування другої section> */

.main-features {
  display: flex;
  margin-bottom: 94px;
  margin-top: 94px;
}

.main-features-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-features-ul-li:nth-child(1):before {
  display: block;
  content: url(img/antenna\ 1.png);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 100px;
}

.main-features-ul-li:nth-child(2):before {
  display: block;
  content: url(img/clock\ 1.png);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 100px;
}

.main-features-ul-li:nth-child(3):before {
  display: block;
  content: url(img/diagram\ 1.png);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 100px;
}

.main-features-ul-li:nth-child(4):before {
  display: block;
  content: url(img/astronaut\ 1.png);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 100px;
}

.main-features-ul-li:not(:last-child) {
  margin-right: 30px;
}

.main-features-ul-li2 {
  align-self: start;
}

.features-ul-li-h3 {
  width: 270px;
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.features-ul-li-p {
  width: 270px;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* </налаштування другої section> */

/* <налаштування третьої section> */

.main-pictures {
  margin-bottom: 94px;
}

.main-pictures > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-pictures-h2 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.pictures-ul-li:not(:last-child) {
  margin-right: 16px;
}

/* </налаштування третьої section> */

/* <налаштування третьої section> */

.main-our-team {
  padding-bottom: 94px;
  padding-top: 94px;
  width: auto;
  height: 648px;
  background: #f5f4fa;
}

.main-our-team > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-our-team-h2 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.our-team-ul-li:not(:last-child) {
  margin-right: 26px;
}

.our-team-ul-li-h3 {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.our-team-ul-li-p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.our-team-ul-li {
  background-color: #fff;
  margin-bottom: 94px;
}

/* </налаштування третьої section> */

/* </налаштування main> */

/* <налаштування footer> */

.footer {
  height: 252px;
  background: #2f303a;
  padding-top: 60px;
  display: flex;
}
.footer > ul {
  display: flex;
}

.footer-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-logo-span {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-item-a1 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-item-a2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* </налаштування footer> */
