/* <Скидальні та глобальні налаштування стилів> */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0px;
  padding: 0px;
}

ul,
menu {
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* </Скидальні та глобальні налаштування стилів> */

/* <налаштування header> */

.header-portfolio {
  margin-bottom: 94px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-logo-span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-left: 93px;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-item-a {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav-item-a:hover {
  color: #2196f3;
}

.header-items {
  margin-left: 344px;
}

.header-item:hover svg {
  fill: #2196f3;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item-a {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-item:not(:first-child) {
  margin-left: 50px;
}

.header-item-a:hover {
  color: #2196f3;
}

.header-item-svg {
  margin-right: 5px;
  fill: rgba(117, 117, 117, 1);
}

/* </налаштування header> */

/* <налаштування main portfolio> */

.main-section2 {
  margin-bottom: 94px;
}

.main-section-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
  column-gap: 8px;
}

.button-settings:nth-child(1) {
  width: 73px;
  height: 38px;
}

.button-settings:nth-child(2) {
  width: 125px;
  height: 38px;
  flex-shrink: 0;
}

.button-settings:nth-child(3) {
  width: 112px;
  height: 38px;
  flex-shrink: 0;
}

.button-settings:nth-child(4) {
  width: 103px;
  height: 38px;
  flex-shrink: 0;
}

.button-settings:nth-child(5) {
  width: 130px;
  height: 38px;
  flex-shrink: 0;
}

.global-button-settings {
  height: inherit;
  width: inherit;
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: 0px;
}

.global-button-settings:hover {
  background: #2196f3;
  color: #fff;
}

.second-list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

.second-list-item:hover {
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-pictures {
  width: 370px;
  height: 295px;
}

.second-list-item {
  background-color: #fff;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.second-list-item-h3 {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-top: 20px;
}

.second-list-item-p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}

/* </налаштування main portfolio> */

/* <налаштування main> */

/* <налаштування hero> */
.main-section {
  background: #2f303a;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(img/hero.jpg), lightgray 0px -147.517px / 100% 170.667% no-repeat;
  width: 1600px;
  height: 600px;
  padding: 0px 15px;
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-section-h1 {
  height: 120px;
  color: #fff;
  width: 697px;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-section-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
/* </налаштування hero> */

/* <налаштування features> */

.main-features {
  display: flex;
  margin-bottom: 94px;
  margin-top: 94px;
}

.main-features-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.main-features-ul-li svg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 100px;
}

.main-features-ul-li2 {
  align-self: start;
}

.features-ul-li-h3 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-ul-li-p {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* </налаштування features> */

/* <налаштування main-pictures> */

.main-pictures {
  align-items: center;
  margin-bottom: 94px;
  display: flex;
  flex-direction: column;
}

.pictures-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.main-pictures-h2 {
  color: #212121;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.picture-wrap{
  position: relative;
}

.picture-wrap:hover .picture-div{
  visibility: visible;
  animation: fadeIn;
  animation-duration: 1s;
}

.picture-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  position: absolute;
  bottom: 5px;
  visibility: hidden;
}

.picture-p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* </налаштування main-pictures> */

/* <налаштування our-team> */

.main-our-team {
  padding-bottom: 94px;
  padding-top: 94px;
  width: auto;
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.main-our-team-h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.social-team {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 16px;
  column-gap: 10px;
}

.team-item-svg {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
}

.social-item-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.social-item-team:hover {
  fill: rgba(255, 255, 255, 1);
  background-image: url(img/ellipse.png);
  background-position: center center;
}

.social-item-team:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.our-team-ul-li-h3 {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.our-team-ul-li-p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.our-team-ul-li {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin-bottom: 94px;
}

.social-item-link {
  width: auto;
}

/* </налаштування our-team> */

/* <налаштування regular-customers> */

.main-regular-customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.regular-customers-h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.regular-customers-list {
  column-gap: 30px;
  display: flex;
  justify-content: center;
}

.regular-customers-list-item:hover svg {
  fill: rgba(33, 150, 243, 1);
}

.regular-customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.regular-customers-list-item:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.regular-customers-svg {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
}

/* </налаштування regular-customers> */

/* </налаштування main> */

/* <налаштування footer> */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}

.footer-div {
  display: flex;
  flex-direction: column;
}

.footer-div4ik {
  column-gap: 70px;
  display: flex;
}

.footer > ul {
  display: flex;
}

.footer-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-logo-span {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-list {
  margin-top: 20px;
}

.footer-item-a1 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-item-a2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-footer {
  column-gap: 10px;
  display: flex;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-position: center center;
  background-image: url(img/ellipse-footer.png);
}

.footer-social-item:hover {
  background-image: url(img/ellipse.png);
  cursor: pointer;
}

.footer-item-svg {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
}

/* </налаштування footer> */


.shevron{
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.svg-shevron{
  fill: #afb1b8;
}

.svg-shevron:hover{
  fill: #fff;
}

.shevron:hover{
  background-color: #2196f3;
}